*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #575757;
}

header{
   /* text-align: center; */
    border-bottom: 1px solid white;
}

header h1 {
    padding: 50px 20px;
    color: #58b7f9;
    font-size: 68px;
    font-weight: 900;
}

header h3 {
    padding-bottom: 20px;
    color: white;
    font-weight: bold;
    text-align: left;
    padding-left: 20px;
}

.headerSpan{
    color: goldenrod;
}

.MyClassesDiv h2, .MyFavoriteMovies h2{
    color: #58b7f9;
    margin: 30px 20px;
    font-size: 34px;
}
.MyFavoriteMovies h2{
    margin: 50px 20px 30px 20px;
}

.MyFavoriteMovies p{
    margin-left: 20px;
    margin-bottom: 25px;
    color: white;
}

.unOrderList{
    margin-left: 50px;
    list-style-type: circle;
    color: white;
}
.OrderList {
    margin-left: 50px;
    color: white;  
}

.MyFavoriteMovies img{
    border: 1px solid #58b7f9;
    width: 300px;
    height: 300px;
    margin: 10px 38px;
}

a{
    color: red;
}